@model ProyectoApiCore.Web.Integrantes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Integrantes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primerNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primerNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.segundoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.segundoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primerApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.segundoApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.segundoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idTipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idTipoDocumento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idIntegrante">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
